{% extends 'admin/base.html.twig' %}

{% block title %}{{ (app.request.get('_route') =='app_admin_genre_ajouter' ? 'Ajouter' : 'Modifier')}} un genres{% endblock %}

{% block body %}
    <h1>{{ (app.request.get('_route') =='app_admin_genre_ajouter' ? 'Ajouter' : 'Modifier')}} un genres</h1>

        {{ form_start(form) }}
            {{ form_row(form.nom) }}
            {{ form_row(form.popularite) }}
            {{ form_row(form.couleur) }}

            <button type="submit" class="btn btn-success">{{ (app.request.get('_route') =='app_admin_genre_ajouter' ? 'Ajouter' : 'Modifier')}}</button>
        {{ form_end(form) }}
{% endblock %}